/* 
    Document   : style
    Created on : 16-Apr-2013, 21:59:57
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax: http://www.w3.org/TR/REC-CSS2/
*/

@import "/assets/css/resets.css";

strong {
	font-weight: bold;
}

p {
	margin: 10px 0 20px;
	line-height: 1.6em;
}

.title p {
	margin: 0;
	padding: 6px 15px 10px;
	line-height: 1.5em;
}

body,
.title p,
.about h4,
.about h5 {
	font-family: georgia;
}

.clear {
	clear: left;
}

header nav#supplementary li:first-child,
nav#global li:first-child{
	margin-left: 0;
}

header nav#supplementary li:last-child,
nav#global li:last-child,
.about #container .hobbies .col:last-child{
	margin-right: 0;
}

p, li, h1, h3, h4, h5 {
	font-family: arial, sans-serif;
}

ul {
	list-style-type: none;
}

a,
a:link,
a:visited {
	color: #464747;
}

li {
	font-size: 0.78em;
}

li a {
	border-bottom: 1px solid #464747;
	text-decoration: none;
}

h1 {
	font-size: 2.8em;
}

h1, h2 {
	text-align: right;
	background: #eee;
}

h2,
.title p,
footer h6,
.about h4,
.about h5 {
	font-style: italic;
	font-weight: normal;
}

h2, h3, h5,
.about footer h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.333em;
}

.title p {
	font-size: 1.2em;
}

h4,
.about h5 {
	font-size: 1em;
}

footer h6 {
	font-size: .95em;
}

h4,
li,
footer h5 {
	font-weight: bold;
}

h1,
h4,
footer h5,
.about h4
.about #container .hobbies h5 {
	color: #4F4F51;
}

.title h3 {
	color: #fcfcfc;
}

h2, .title p {
	color: #414042;
}

h3 {
	color: #231F20;
}


#wrapper {
	width: 900px;
	margin: 0 auto;
}


header,
footer {
	overflow: hidden;
}


/* ---------- HEADER ---------- */
/* ---------------------------- */
header {
	border-top: 10px solid #333434;
	padding-top: 10px;
}

header nav#supplementary {
	height: 48px;
}

header nav#supplementary ul {
	float: right;
}

header nav#supplementary li {
	margin: 0 12px;
}

#supplementary a {
	border-width: 3px;
	border-color: #eee;
	padding: 5px;
}

#supplementary a:hover,
#supplementary .selected a {
	border-color: #FFF200;
}


header hgroup {
	width: 324px;
}

header hgroup h1 {
	margin-bottom: 0;
}

header hgroup h2 {
	margin-top: 10px;
}

header hgroup h1,
header hgroup h2 {
	float: left;
	padding: 3px 10px;
}

nav#global {
	width: 510px;
	float: right;
	padding-bottom: 31px;
}

nav#global ul {
	float: right;
}

nav ul,
nav a {
	display: block;
}

nav li,
header hgroup {
	float: left;
}

nav#global li {
	background: url("/assets/i/nav-bg.png") no-repeat;
	width: 136px;
	height: 136px;
	margin: 0 18px;
	position: relative;
}

nav#global li.selected {
	background: url("/assets/i/nav-bg.png"), url("/assets/i/nav-bg-selected.png") no-repeat;
}

nav#global li a {
	border-radius: 53.5px;
	-moz-border-radius: 53.5px;
	-webkit-border-radius: 53.5px;
	width: 107px;
	height: 107px;
	float: left;
	margin: 15px 14px 15px 15px;

	background-position: center center;
	line-height: 128px;
	vertical-align: middle;
	text-align: center;
	color: white;
	text-decoration: none;
	border-bottom: 0;
}

nav#global li#front a {
	background: #F15A22 url("/assets/i/front-end-icon.png") no-repeat;
}

nav#global li#ux a {
	background: #B2D235 url("/assets/i/ux-icon.png") no-repeat;
}

nav#global li#other a {
	background: #AB4A9C url("/assets/i/other-icon.png") no-repeat;
}

nav#global li#front a,
nav#global li#ux a,
nav#global li#other a {
	background-position: 37px 28px;
}

nav#global li#front a:hover,
nav#global li#ux a:hover,
nav#global li#other a:hover {
	background-color: #4F4F51;
	-webkit-transition-property: background;
	-webkit-transition-duration: .4s
}

header nav .pointer {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #333;
	position: absolute;
	bottom: -36px;
	left: 55px;
}

.front-end header nav .pointer { border-bottom-color: #f15a22; }
.ux header nav .pointer { border-bottom-color: #B2D235; }
.other header nav .pointer { border-bottom-color: #AB4A9C; }

/* ---------------------------- */
/* ---------- //HEADER -------- */




/* ----------- CONTAINER -------- */
/* ------------------------------ */
#container {
	margin-bottom: 40px;
	float: left;
	width: 100%;
}

#container .title {
	background: #eee;
	margin-bottom: 30px;
}

#container .title h3 {
	background: #333 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPXr1/3YUQWAwloampugQvCBECKwILIAmBBdAGQIACjUBLXTfw7qAAAAABJRU5ErkJggg==");
}

.front-end #container .title h3 { background-color: #f15a22; }
.ux #container .title h3 { background-color: #B2D235; }
.other #container .title h3 { background-color: #AB4A9C; }

#container .title h3,
#container .title p {
	padding: 10px 15px 10px;
}

#container .title p {
	padding: 15px 17px;
}

#container .col {
	float: left;
	width: 313px;
}

#container .col#codeigniter {
	width: 315px;
}

#container .col:nth-child(2),
#container .col:nth-child(4) {
	background: url("/assets/i/vert-separator.png") repeat-y;
	background-position: 288px 90px;
}


#container .col:nth-child(4) {
	background-position: 19px 90px;
}

#container .col:nth-child(3) {
	width: 271px;
}

#container .col img {
	-webkit-box-shadow: 0 1px 3px 0 #ccc;
	box-shadow: 0 1px 3px 0 #ccc;
}

/*ABOUT page*/
.about #container .col {
	float: left;
	background: none;
}

.about #container .col.large {
	width: 630px;
	margin-right: 49px;
}

.about #container .col.small {
	width: 220px;
}

.about #container .large h4 {
	width: 100%;
}

.about #container .small h4 {
	width: 220px;
}

.about img.me {
	width: 100%;
}

.about #container .large h4 {
	text-align: left;
}

.about #container .hobbies .col{
	width: 197px;
	margin-right: 10px;
	padding: 10px;
}

.about #container .hobbies .col:nth-child(2) { background: #F15A22; }
.about #container .hobbies .col:nth-child(3) { background: #B2D235; }
.about #container .hobbies .col:nth-child(4) { background: #AB4A9C; }
.about #container .hobbies .col:nth-child(5) { background: #ED1164; }

.about #container .hobbies h6 {
	color: #fcfcfc;
}

.about #container .hobbies h6 a {
	padding: 10px;
	background: #fcfcfc;
	color: #464747;
	border-bottom: 5px solid #464747;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	font-size: 0.7em;
	display: block;
	text-align: center;
}

.about #container .hobbies p {
	color: #fff;
}

.about #container .hobbies h5 {
	padding: 10px 0;
	border-bottom: 1px solid #333;
	margin-bottom: 25px;
}

#container .col h4 {
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #333;
}

.front-end #container .col h4 { border-color: #f15a22; }
.ux #container .col h4 { border-color: #B2D235; }
.other #container .col h4 { border-color: #AB4A9C; }

#container .col > h4 {
	width: 265px;
	float: left;
	margin-bottom: 25px;
}

#container .col:nth-child(4) > h4 {
	float: right;
}

#container .col ul {
	clear: both;
}

#container .col:nth-child(4) ul {
	float: right;
}

#container .col li {
	margin-bottom: 20px;
	position: relative;
}

#container .col li a {
	position: relative;
}

#container .col li a.fancybox {
	border-bottom: 5px solid #fff;
}

#container .col li a.fancybox:hover {
	border-bottom: 5px solid #333;
}

.front-end #container .col li a.fancybox:hover { border-color: #f15a22; }
.ux #container .col li a.fancybox:hover { border-color: #B2D235; }
.other #container .col li a.fancybox:hover { border-color: #AB4A9C; }

#container .col li .link {
	position: absolute;
	top: 40px;
	left: 10px;
}

#container .col li .desc {
	margin: 5px 0 0 0;
	background: url("/assets/i/horiz-separator.png") no-repeat;
	background-position: left bottom;
	padding-bottom: 10px;
}

#container .col li h4,
#container .col li .desc {
	width: 265px;
}

#container .col li h4 {
	border-bottom: 0;
}

.front-end #container .col li h4 a:hover { color: #f15a22; }
.ux #container .col li h4 a:hover { color: #B2D235; }
.other #container .col li h4 a:hover { color: #AB4A9C; }

#container .col li .link {
	height: 29px;
	width: 29px;
	background: url("/assets/i/link-icon.png") no-repeat;
	border: 0;
}

.front-end #container .col li .link:hover { background-image: url("/assets/i/link-icon-front-hover.png"); }
.ux #container .col li .link:hover { background-image: url("/assets/i/link-icon-ux-hover.png"); }
.other #container .col li .link:hover { background-image: url("/assets/i/link-icon-other-hover.png"); }

.front-end #container .col li .featured { background-image: url("/assets/i/featured-front.png"); }
.ux #container .col li .featured { background-image: url("/assets/i/featured-ux.png"); }
.other #container .col li .featured { background-image: url("/assets/i/featured-other.png"); }

#container .col li .featured {
	display: block;
	width: 322px;
	height: 38px;
	position: absolute;
	bottom: 2px;
	left: -25px;
	background-repeat: no-repeat;

	text-align: center;
	vertical-align: middle;
	line-height: 34px;
	color: #fcfcfc;
	font-size: 16px;
}

/* CONTACT page */
.contact #container .large h4{
	width: 100%;
}

.contact #container .small h4 {
	width: 220px;
}

.contact #container .small img {
	margin-top: 7px;
}

.contact label {
	display: none;
}

input[type="text"],
input[type="password"],
textarea {
	border: 0;
	-webkit-box-shadow: inset 0px 3px 5px 0px #cccccc;
	box-shadow: inset 0px 3px 5px 0px #cccccc;
	padding: 10px;
	width: 609px;
	border-bottom: 1px solid #eee;
	font-family: georgia;
	font-style: italic;
	font-size: 1.1em;
	color: #aaa;
	margin: 7px 0;
}

textarea {
	height: 100px;
}

input {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type="submit"] {
	float: right;
	width: auto;
	padding: 10px;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	padding: 10px 20px;
	background: #f15922;
	background: -moz-linear-gradient(
		top,
		#ff7e4f 0%,
		#f15922);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff7e4f),
		to(#f15922));
	border: 1px solid #9e2c03;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(138,138,138,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	margin-right: 0;
	cursor: pointer;
}

.errors,
.success {
	padding: 10px;
	background: #eee;
	clear: left;
	margin-bottom: 10px;
}

.errors h5,
.success h5 {
	font-style: normal;
	font-family: arial;
}

#container .col .errors li {
	margin: 5px 0;
	color: red;
}

.success h5 {
	margin-top: 10px;
	color: #80cb2a;
	font-weight: bold;
	font-size: 1.4em;
}


/* ---------------------------- */
/* ---------- //CONTAINER------- */




/* ----------- FOOTER ----------- */
/* ------------------------------ */
footer {
	background: #eee;
	border-bottom: 10px solid #333434;
	padding: 0 15px 15px;
}

footer .border {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPXr1/3YUQWAwloampugQvCBECKwILIAmBBdAGQIACjUBLXTfw7qAAAAABJRU5ErkJggg==");
	display: block;
	height: 10px;
	margin-bottom: 10px
}

footer hgroup {
	float: left;
}

footer h6 {
	margin-top: 5px;
}

footer nav {
	float: right;
}

footer nav li {
	float: right;
	margin: 0 10px 10px;
}

footer nav li.front-end {
	clear: both;
}

#nope {
	background: deeppink;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	height: 1000px;
	vertical-align: middle;
	text-align: center;
}


/* MISC */
#nope p {
	color: white;
	font-weight: bold;
	font-size: 300px;
}

.overlay {
	background: black;
}