/* 
    Document   : style
    Created on : 16-Apr-2013, 21:59:57
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import "/assets/css/resets.css";

body,
.title p {
	font-family: georgia;
}

.clear {
	clear: left;
}

header nav#supplementary li:first-child,
nav#global li:first-child{
	margin-left: 0;
}

header nav#supplementary li:last-child,
nav#global li:last-child {
	margin-right: 0;
}

p, li, h1, h3, h4, h5 {
	font-family: arial, sans-serif;
}

ul {
	list-style-type: none;
}

a,
a:link,
a:visited {
	color: #464747;
}

li {
	font-size: 0.78em;
}

li a {
	border-bottom: 1px solid #464747;
	text-decoration: none;
}

h1 {
	font-size: 2.8em;
}

h1, h2 {
	text-align: right;
	background: #eee;
}

h2,
.title p,
footer h6 {
	font-style: italic;
	font-weight: normal;
}

h2, h3, h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.333em;
}

.title p {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

footer h6 {
	font-size: .95em;
}

h4,
li,
footer h5 {
	font-weight: bold;
}

h1,
h4,
footer h5 {
	color: #4F4F51;
}

.title h3 {
	color: #fcfcfc;
}

h2, .title p {
	color: #414042;
}

h3 {
	color: #231F20;
}


#wrapper {
	width: 900px;
	margin: 0 auto;
}


header,
#container,
footer {
	overflow: hidden;
}


/* ---------- HEADER ---------- */
/* ---------------------------- */
header {
	border-top: 10px solid #333434;
	padding-top: 20px;
}

header nav#supplementary {
	height: 48px;
}

header nav#supplementary ul {
	float: right;
}

header nav#supplementary li {
	margin: 0 12px;
}

header hgroup {
	width: 324px;
}

header hgroup h1 {
	margin-bottom: 0;
}

header hgroup h2 {
	margin-top: 10px;
}

header hgroup h1,
header hgroup h2 {
	float: right;
	padding: 3px 10px;
}

nav#global {
	width: 510px;
	float: right;
	padding-bottom: 31px;
}

nav#global ul {
	float: right;
}

nav ul,
nav a {
	display: block;
}

nav li,
header hgroup {
	float: left;
}

nav#global li {
	background: url("/assets/i/nav-bg.png") no-repeat;
	width: 136px;
	height: 136px;
	margin: 0 18px;
	position: relative;
}

nav#global li.selected {
	background: url("/assets/i/nav-bg.png"), url("/assets/i/nav-bg-selected.png") no-repeat;
}

nav#global li a {
	border-radius: 53.5px;
	width: 107px;
	height: 107px;
	float: left;
	margin: 15px 14px 15px 15px;

	background-position: center center;
	line-height: 128px;
	vertical-align: middle;
	text-align: center;
	color: white;
	text-decoration: none;
	border-bottom: 0;
}

nav#global li#front a {
	background: #F15A22 url("/assets/i/front-end-icon.png") no-repeat;
}

nav#global li#ux a {
	background: #B2D235 url("/assets/i/ux-icon.png") no-repeat;
}

nav#global li#other a {
	background: #AB4A9C url("/assets/i/other-icon.png") no-repeat;
}

nav#global li#front a,
nav#global li#ux a,
nav#global li#other a {
	background-position: 37px 28px;
}

nav#global li#front a:hover,
nav#global li#ux a:hover,
nav#global li#other a:hover {
	background-color: #4F4F51;
	-webkit-transition-property: background;
	-webkit-transition-duration: .4s
}

header nav .pointer {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #333;
	position: absolute;
	bottom: -36px;
	left: 55px;
}

.front-end header nav .pointer { border-bottom-color: #f15a22; }
.ux header nav .pointer { border-bottom-color: #B2D235; }
.other header nav .pointer { border-bottom-color: #AB4A9C; }

/* ---------------------------- */
/* ---------- //HEADER -------- */




/* ----------- CONTAINER -------- */
/* ------------------------------ */
#container {
	margin-bottom: 40px;
}

#container .title {
	background: #eee;
	margin-bottom: 30px;
}

#container .title h3 {
	background: #333 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPXr1/3YUQWAwloampugQvCBECKwILIAmBBdAGQIACjUBLXTfw7qAAAAABJRU5ErkJggg==");
}

.front-end #container .title h3 { background-color: #f15a22; }
.ux #container .title h3 { background-color: #B2D235; }
.other #container .title h3 { background-color: #AB4A9C; }

#container .title h3,
#container .title p {
	padding: 10px 15px 10px;
}

#container .col {
	float: left;
	width: 313px;
}

#container .col#codeigniter {
	width: 315px;
}

#container .col:nth-child(2),
#container .col:nth-child(4) {
	background: url("/assets/i/vert-separator.png") no-repeat;
	background-position-y: 90px;
}

#container .col:nth-child(2) {
	background-position-x: 288px;
}

#container .col:nth-child(4) {
	background-position-x: 19px;
}

#container .col:nth-child(3) {
	width: 271px;
}

#container .col h4 {
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #333;
}

.front-end #container .col h4 { border-color: #f15a22; }
.ux #container .col h4 { border-color: #B2D235; }
.other #container .col h4 { border-color: #AB4A9C; }

#container .col ul {
	margin-top: 10px;
}

#container .col#custom ul {
	float: right;
}

#container .col li {
	margin-bottom: 30px;
	position: relative;
}

#container .col li a.fancybox {
	border-bottom: 5px solid #fff;
}

#container .col li a.fancybox:hover {
	border-bottom: 5px solid #333;
}

.front-end #container .col li a.fancybox:hover { border-color: #f15a22; }
.ux #container .col li a.fancybox:hover { border-color: #B2D235; }
.other #container .col li a.fancybox:hover { border-color: #AB4A9C; }

#container .col li .link {
	position: absolute;
	top: 10px;
	left: 10px;
}

#container .col li .desc {
	display: none;
}

#container .col li .link {
	height: 29px;
	width: 29px;
	background: url("/assets/i/link-icon.png") no-repeat;
	border: 0;
}

.front-end #container .col li .link:hover { background-image: url("/assets/i/link-icon-front-hover.png"); }
.ux #container .col li .link:hover { background-image: url("/assets/i/link-icon-ux-hover.png"); }
.other #container .col li .link:hover { background-image: url("/assets/i/link-icon-other-hover.png"); }

/* ---------------------------- */
/* ---------- //CONTAINER------- */




/* ----------- FOOTER ----------- */
/* ------------------------------ */
footer {
	background: #eee;
	border-bottom: 10px solid #333434;
	padding: 0 15px 15px;
}

footer .border {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPXr1/3YUQWAwloampugQvCBECKwILIAmBBdAGQIACjUBLXTfw7qAAAAABJRU5ErkJggg==");
	display: block;
	height: 10px;
	margin-bottom: 10px
}

footer hgroup {
	float: left;
}

footer h6 {
	margin-top: 2px;
}

footer nav {
	float: right;
}

footer nav li {
	float: right;
	margin: 0 15px 15px;
}

footer nav li.front-end {
	clear: both;
}
