/* 
    Document   : style.css
    Created on : 29-May-2013, 13:55:41
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

label {
	display: block;
	clear: left;
}

header {
	padding-top: 0;
}

h1 {
	margin-bottom: 70px;
}

h1, h2 {
	text-align: left;
	padding: 10px;
}

h2 {
	margin: 35px 0 10px 0;
	padding: 0;
	background: none;
}

h2 a.toggle {
	padding: 10px;
	display: block;
	border-bottom: 2px solid #464747;
	text-decoration: none;
}

h2 a.toggle:hover {
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

h2 a.selected {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-bottom: 2px solid tomato;
}

h2 a span {
	font-size: .8em;
	color: #999;
	margin-left: .5em;
}

h3 {
	margin-left: 0;
}

form {
	margin-left: 3em;
}

#wrapper,
form{
	position: relative;
}

#submit {
	position: absolute;
	bottom: 0;
	right: 0;
}

.img {
	width: 500px;
	max-height: 300px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
	border-top: 2px dashed #eee;
}

.img p {
	margin-bottom: 5px;
	color: #999;
}

.img img {
	max-width: 100%;
}

#loggedIn {
	border-top: 5px solid deepskyblue;
}

#loggedIn p,
p#logOut a {
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

#loggedIn p {
	float: left;
	padding: 10px;
	background: deepskyblue;
	color: white;
	text-transform: uppercase;
	margin-top: 0;
	font-size: .85em;
	font-style: italic;
}

#loggedIn strong {
	font-size: 1.1em;
	font-style: initial;
}

p#logOut {
	font-style: normal;
	float: right;
	padding: 0;
	background: none;
}

p#logOut a {
	text-decoration: none;
	background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPXr1/3YUQWAwloampugQvCBECKwILIAmBBdAGQIACjUBLXTfw7qAAAAABJRU5ErkJggg==");
	padding: 10px;
	display: block;
}

h2 .toggle:after {
	padding: 0 5px;
	background: #464747;
	font-weight: bold;
}

h2 .toggle:after,
h2 .toggle.selected:hover:after {
	color: #eee;
}

h2 .toggle.minimise:after {
	padding: 0 8px;
	background: tomato;
	color: #fcfcfc;
	text-shadow: 0 0 10px yellow;
}

h2 .toggle:hover {
	background: #eee;
}

h2 .toggle.selected:hover {
	background: none;
}

h2 .toggle:hover:after {
	color: tomato;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;
}

.toggle:after {
	content: "+ ";
	float: right;
	font-size: 1.2em;
}

.toggle.minimise:after {
	content: "- ";
}

.pointer {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ddd;
}

.category {
	margin: 20px 0 20px;
}


.item {
	margin-left: 3em;
}

.item h3 {
    margin: 20px 0;
	color: #000000;
	
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 36%,
		#fcf9fc 50%,
		#edeaed);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.36, #ffffff),
		color-stop(0.50, #fcf9fc),
		to(#edeaed));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #ffbf00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
	font-size: 1em;
}

.item h3.selected {
	border-bottom: 5px solid #f5642f;
}

.item h3:hover {

	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 36%,
		#fcf9fc 50%,
		#edeaed);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.36, #fcf9fc),
		color-stop(0.50, #fcf9fc),
		to(#edeaed));
	box-shadow:
		0px 1px 10px #999,
		inset 0px 0px 3px rgba(255,255,255,1);
	-moz-box-shadow:
		0px 1px 10px #999,
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 10px #999,
		inset 0px 0px 3px rgba(255,255,255,1);
}

.item h3 a {
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

.category,
.item {
	clear: both;
}