label {
	display: block;
	clear: left;
}

header {
	padding-top: 0;
	overflow: visible;
	width: 100%;
}

a:hover,
h2 a:hover span {
	color: tomato;
	border-color: tomato;
}

h1 {
	margin-bottom: 70px;
}

h1, h2 {
	text-align: left;
	padding: 10px;
}

h2 {
	margin: 0 0 10px 0;
	padding: 0;
	background: none;
}

h2 a.toggle {
	padding: 10px 0;
	display: block;
	border-bottom: 2px solid #464747;
	text-decoration: none;
}

h2 a.minimised {
	border-bottom: 2px solid tomato;
}

h2 a span {
	font-size: .8em;
	color: #999;
	margin-left: .5em;
}

h3 {
	margin-left: 0;
}

form {
	margin-left: 3em;
}

#wrapper,
form{
	position: relative;
}

#submit {
	position: absolute;
	bottom: 0;
	right: 0;
}

select,
input[type="checkbox"] {
	margin: 10px 0;
}
.img {
	width: 500px;
	max-height: 300px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
	border-top: 2px dashed #eee;
}

.img p {
	margin-bottom: 5px;
	color: #999;
}

.img img {
	max-width: 100%;
}

#loggedIn {
	border-top: 5px solid #333;
}

#loggedIn p {
	float: left;
	padding: 10px;
	color: #333;
	text-transform: uppercase;
	margin-top: 0;
	font-size: .85em;
	font-style: italic;
}

#loggedIn strong {
	font-size: 1.1em;
	font-style: initial;
}

p#logOut {
	font-style: normal;
	float: right;
	padding: 0;
	background: none;
}

p#logOut a {
	text-decoration: none;
	padding: 10px;
	display: block;
	border-bottom: 2px solid tomato;
}

h2 .toggle:after {
	padding: 0 5px;
	background: #464747;
	font-weight: bold;
}

h2 .toggle:after,
h2 .toggle.minimised:hover:after {
	color: #eee;
}

h2 .toggle.minimised:after {
	padding: 0 8px;
	background: tomato;
	color: #fcfcfc;
	text-shadow: 0 0 10px yellow;
}

h2 .toggle.minimised:hover {
	background: none;
}

.toggle:after {
	content: "+ ";
	float: right;
	font-size: 1.2em;
}

.toggle.minimised:after {
	content: "- ";
}

.pointer {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ddd;
}

.category {
	margin: 20px 0 20px;
}

.item {
	margin-left: 3em;
}

.item h3 {
    margin: 20px 0;
	color: #000000;

	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 36%,
		#fcf9fc 50%,
		#edeaed);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.36, #ffffff),
		color-stop(0.50, #fcf9fc),
		to(#edeaed));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #ffbf00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
	font-size: 1em;
}

.item h3.minimised {
	border-bottom: 5px solid #f5642f;
}

.item h3:hover {

	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 36%,
		#fcf9fc 50%,
		#edeaed);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.36, #fcf9fc),
		color-stop(0.50, #fcf9fc),
		to(#edeaed));
	box-shadow:
		0px 1px 10px #999,
		inset 0px 0px 3px rgba(255,255,255,1);
	-moz-box-shadow:
		0px 1px 10px #999,
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 10px #999,
		inset 0px 0px 3px rgba(255,255,255,1);
}

.item h3 a {
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

/* ALL ITEMS TEMPLATE
----------------------------------- */
#container {
	width: auto;
	float: none;
}

#container .title {
	margin: 4% 0;
	position: relative;
}

#container .title a.close {
	position: absolute;
	top: 7px;
	right: 7px;
	height: 18px;
	width: 18px;

	border: 2px solid white;
	border-radius: 100%;

	vertical-align: middle;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: tahoma;
	font-size: 11px;
	text-indent: -1px;
	text-decoration: none;
	line-height: 16px;
}

#container .title a:hover.close {
	color: #333;
	background: white;
	border-color: #333;
}

.category {
	float: left;
	width: 26%;
	margin: 0 5%;
	background: url("/assets/i/vert-separator.png") repeat-y;
	background-position: 100%;
	padding-right: 6%;
}

.category:nth-child(1n),
.category:nth-child(3n) {
	margin-left: 0;
}

.category:nth-child(4n) {
	margin-right: 0;
}

.category:nth-child(4) {
	background: none;
	padding-right: 0;
}

.category img {
	width: 100%;
	-webkit-filter: grayscale(99%);
}

.category h3 {
	margin: 20% 0 4% 0;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPHjx//z4gsBhKwtLRkhAvCBECKwILIAmBBdAGQIADWnxNagHbKQAAAAABJRU5ErkJggg==);
}

.category li a {
	line-height: 1.4em;
}

.category li h3,
.category li a {
	border: 0;
	color: tomato;
	padding-bottom: 1px;
}

.category li a:hover {
	text-decoration: underline;
}

.category li a:hover img {
	border-bottom: 5px solid tomato;
	-webkit-filter: grayscale(0%);
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.category h3 span {
	padding-right: 10px;
	background: white;
}